In [1]:
import re

In [2]:
re.match("David","David")

In [3]:
re.findall("David","David")

['David']

In [4]:
re.findall("D*....","David")

['David']

In [5]:
re.findall("D*","David")

['D', '', '', '', '', '']

In [6]:
re.findall("D*","DDDDavid")

['DDDD', '', '', '', '', '']

In [7]:
re.findall("D*","DDDDaviDDd")

['DDDD', '', '', '', 'DD', '', '']

In [8]:
re.findall("D*avid","avid")

['avid']

In [9]:
re.findall("D*avid","DDDDDDDDDDDavid")

['DDDDDDDDDDDavid']

In [10]:
re.findall("D*a *vid","DDDDDDDDDDDa                   vid")

['DDDDDDDDDDDa                   vid']

In [11]:
re.findall("A+ndre","AAAAAndre")

['AAAAAndre']

In [12]:
re.findall("A+ndre","ndre")

[]

In [13]:
re.findall("A+ndre","Andre")

['Andre']

In [14]:
#United          States(*)
#UnitedStates(*)
#Indo        nesia (+)
#Indonesia (+)

In [15]:
re.findall("A+ndre","Andre")
#Indonesia Indones  Innnndonesia
#Indones, Innnnnndonesia

['Andre']

In [16]:
re.findall("A?ndre","Andre")

['Andre']

In [17]:
re.findall("A?ndre","ndre")

['ndre']

In [18]:
re.findall("A?ndre","AAAAndre")

['Andre']

In [20]:
print(re.match("A?ndre","AAAAndre"))

None

In [21]:
print(re.match("A?ndre","Andre"))

<re.Match object; span=(0, 5), match='Andre'>

In [22]:
re.findall("A{2,4}ndre","ndre")

[]

In [23]:
re.findall("A{2,4}ndre","Andre")

[]

In [24]:
re.findall("A{2,4}ndre","AAndre")

['AAndre']

In [25]:
re.findall("A{2,4}ndre","AAAAndre")

['AAAAndre']

In [28]:
re.findall("A{2,4}ndre","AAAAAndre") #A sebanyak x \in [2,4]

['AAAAndre']

In [32]:
print(re.match("A{2,4}n{1,3}d+r*e","AAAnnndre") )

<re.Match object; span=(0, 9), match='AAAnnndre'>

In [35]:
#United States
# [Uu]*[nN]*i*t*e*d* *[Ss]*t*a*e*s* #United SStates
# US-> United States
# Negara: US, kota:New York
#Negara:US, kota: Palembang
#UI,SD
#United States United Sattes

In [36]:
#Bagaimana cara menemukan suatu pola dari string dalam bentuk 2 karakter berurutan yang muncul dua kali hingga 5 kali
# abab abababab abababab
#Saya sedang makan abababababyam

In [47]:
re.findall("[[a][b]]{2,4}","Saya sedang makan abababababyam")

[]

In [42]:
re.findall("[ab]{2,5}","Saya sedang makan abababababyam")

['ababa', 'babab']

In [43]:
re.findall("[ab]{2,5}","Saya sedang makan aaaababababyam")
# 1-> a atau b?
# 2-> a atau b?

['aaaab', 'ababa']

In [53]:
re.findall("(ab){2,4}","Saya sedang makan abababyam")

[]

In [56]:
re.findall('((ab){2,4})','Saya makan abababababyam')

[('abababab', 'ab')]

In [58]:
re.findall('a|b','Davivb')

['a', 'b']

In [59]:
re.findall('Da|vb','Davivb')

['Da', 'vb']

In [60]:
re.findall('(Da)|(tb)','Davivtb') #Da| tb

[('Da', ''), ('', 'tb')]

In [63]:
re.match('(a|b)yes','ayes hyes byes') #ayes byes

In [64]:
#string yang diawali oleh huruf a atau diakhiri oleh huruf c
re.match('^a.*c$','aloc')

In [66]:
re.match('(^a)|(c$)','aloooo')

In [67]:
re.match('(^a)|(c$)','alooooc')

In [69]:
print(re.match('(^a)|(c$)','ooooc'))

None

In [71]:
print(re.match('c$','ooooc'))

None

In [72]:
print(re.match('.*c$','ooooc'))

<re.Match object; span=(0, 5), match='ooooc'>

In [74]:
re.match('(^a)|(.*c$)','ooooc')

In [75]:
re.match('(^a)|(.*c$)','alooooc')

In [76]:
re.match('(^a)|(.*c$)','aloooo')

In [77]:
re.match('(^a.*)|(.*c$)','oaalc')

In [80]:
re.match('$500','$500') #$500

In [81]:
re.match('\$500','$500') #$500

In [82]:
#Special Character
re.match("\AHello","Hello hello bandung")

In [83]:
re.match("^(Hello)","Hello hello bandung")

In [84]:
re.match("\AHello","ello bandung Hello")

In [85]:
re.match("^(Hello)","hello Hello bandung")

In [86]:
re.match("\AHello","hello Hello bandung")

In [88]:
re.match("^Hello","Hello hello bandung")

In [90]:
"""Hello Bandung
Alone in Bandung
Hello bandung
Hohoho"""

'Hello Bandung\nAlone in Bandung\nHello bandung\nHohoho'

In [91]:
re.match("^Hello","""Hello Bandung
Alone in Bandung
Hello bandung
Hohoho""")

In [92]:
re.match("\AHello","""Hello Bandung
Alone in Bandung
Hello bandung
Hohoho""")

In [97]:
re.findall("\AHello","""Hello Bandung
Alone in Bandung
Hello bandung
Hohoho""",flags=re.M)

['Hello']

In [99]:
re.findall("^(Hello)","""Hello Bandung
Alone in Bandung
Hello bandung
Hohoho""",flags=re.M)#re.MULTILINE

['Hello', 'Hello']

In [100]:
re.findall("\AHello","""Bandung
Alone in Bandung
Hello bandung
Hohoho""",flags=re.M)

[]

In [104]:
re.findall("\bhello","""hello
Alone in Bandung
Hello bandung
Hohoho""",flags=re.M)

[]

In [105]:
re.findall("\bhello","""hello
Alone in Bandung
Hello bandung
hello""",flags=re.M)

[]

In [110]:
re.findall("\bhello","hello alone")

[]

In [111]:
re.findall("\bhello","hello alone")

[]

In [112]:
re.findall("\bA","hello alone")

[]

In [113]:
re.findall("\bA","Ahello alone")

[]

In [114]:
re.findall("\bA","hello aloneA")

[]

In [115]:
re.findall("\bA","Ahello aloneA")

[]

In [119]:
re.findall("\Bhello alone\B","Ahello aloneA")

['hello alone']

In [120]:
re.findall("\bhello alone\b","Ahello aloneA")

[]

In [123]:
re.findall("\Bowen\B","Ahello owen aloneA")

[]

In [130]:
re.match(r"\bowen\b"," owen ")

In [131]:
re.match(r"\bowen\b","Hello owen Again")

In [132]:
re.match(r"\bowen\b","owen Again")

In [133]:
re.match(r"\bowen\b","Again owen")

In [134]:
re.match(r"\bowen\b","Again owen  ")

In [135]:
re.match(r"\bowen\b","Again owen  hohoho")r

In [136]:
re.match(r"\bfoo\b","foobar")

In [137]:
re.match(r"\bfoo\b","foo")

In [139]:
re.match(r"\bfoo\b","foo x")

In [140]:
re.match(r"\bfoo\b","bar foo baz")

In [147]:
re.match(r"\bfoo\b","(foo)")

In [142]:
re.match(r"\bfoo\b","foo..")

In [143]:
re.match("foo","foo..")

In [144]:
re.match("foo","aafoo..")

In [146]:
re.match(r"\bfoo\B"," foo3")

In [155]:
re.search(r"\bfoo\b","(foo)")

In [156]:
re.search(r"\bfoo\B"," foo3")

In [157]:
re.search("\d","hello112hello")

In [158]:
re.search("\d","hellohello")

In [159]:
re.search("\d","A1111")

In [161]:
re.search("\d{4}","A111")

In [165]:
re.search("\d{4}","A1191")

In [166]:
re.search("\D","A1191")

In [167]:
re.search("\D","1191")

In [169]:
#\s \S white space
#\w \W alphanumeric _
#\z \Z

In [170]:
#findall, search, split, sub, group.

In [171]:
import pandas as pd

In [175]:
df=pd.read_csv(r"C:\File Steven\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver3.csv",index_col=0)

In [176]:
df

,Name,Industry,Revenue,Profit,Employees,Country,Date
Rank,,,,,,,
1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
2,Sinopec,Oil and gas,"$414,649","$5,845",619.151,chn,3/31/2017
3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
4,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",china,2/19/2000
5,State Grid,Electricity,"$387,056","$8,174",917.717,Chi na,11/15/2010
6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
7,BP,Oil and gas,"$303,738","$9,383",5,United Kingdom,4/19/2019
8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
13,Amazon,Retail,"$232,887","$10,073",647,US,3/15/2018
14,UnitedHealth,Healthcare,"$226,247","$11,986",300,USA,3/16/2018
15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
21,NaN,Construction,"$181,524","$3,159",302.827,China,3/23/2018
22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
23,Foxconn,NaN,"$175,617","$4,281",667.68,Taiwan,3/25/2018
24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
30,Ford,Automotive,"$160,338","$3,677",199,United State,4/1/2018
31,China Construction Bank,Financials,"$151,110","$38,498",366.996,NaN,4/2/2018
32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,usa,4/9/2018
39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
47,Kroger,NaN,"$121,162","$3,110",453,US,4/18/2018
48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [179]:
df=df.replace("US","United States")

In [180]:
df

,Name,Industry,Revenue,Profit,Employees,Country,Date
Rank,,,,,,,
1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
2,Sinopec,Oil and gas,"$414,649","$5,845",619.151,chn,3/31/2017
3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
4,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",china,2/19/2000
5,State Grid,Electricity,"$387,056","$8,174",917.717,Chi na,11/15/2010
6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
7,BP,Oil and gas,"$303,738","$9,383",5,United Kingdom,4/19/2019
8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
14,UnitedHealth,Healthcare,"$226,247","$11,986",300,USA,3/16/2018
15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
21,NaN,Construction,"$181,524","$3,159",302.827,China,3/23/2018
22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
23,Foxconn,NaN,"$175,617","$4,281",667.68,Taiwan,3/25/2018
24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
30,Ford,Automotive,"$160,338","$3,677",199,United State,4/1/2018
31,China Construction Bank,Financials,"$151,110","$38,498",366.996,NaN,4/2/2018
32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,usa,4/9/2018
39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
47,Kroger,NaN,"$121,162","$3,110",453,United States,4/18/2018
48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [182]:
df["Country"].unique()

array(['\xa0United States', 'chn', '\xa0Netherlands / United Kingdom',
       'china', 'Chi  na', '\xa0Saudi Arabia', '\xa0United Kingdom',
       '\xa0Germany', '\xa0Japan', 'United States', 'USA',
       '\xa0South Korea', '\xa0Switzerland', '\xa0France', '\xa0China',
       '\xa0Singapore', '\xa0Taiwan', '\xa0Netherlands',
       'United     State', nan, 'usa', '\xa0Russia', 'Empty'],
      dtype=object)

In [194]:
df.loc[:,"Country"].replace("([Cc]hn)|(.*[Cc]hi *na)","China",regex=True,inplace=True)
#chn
#chi    na
#\xa0China
# reformat menjadi China
#([Cc]hn) -> (Chn) | (chn)

In [195]:
df

,Name,Industry,Revenue,Profit,Employees,Country,Date
Rank,,,,,,,
1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
2,Sinopec,Oil and gas,"$414,649","$5,845",619.151,China,3/31/2017
3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
4,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",China,2/19/2000
5,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
7,BP,Oil and gas,"$303,738","$9,383",5,United Kingdom,4/19/2019
8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
14,UnitedHealth,Healthcare,"$226,247","$11,986",300,USA,3/16/2018
15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
21,NaN,Construction,"$181,524","$3,159",302.827,China,3/23/2018
22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
23,Foxconn,NaN,"$175,617","$4,281",667.68,Taiwan,3/25/2018
24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
30,Ford,Automotive,"$160,338","$3,677",199,United State,4/1/2018
31,China Construction Bank,Financials,"$151,110","$38,498",366.996,NaN,4/2/2018
32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,usa,4/9/2018
39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
47,Kroger,NaN,"$121,162","$3,110",453,United States,4/18/2018
48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [185]:
df["Country"].unique()

array(['\xa0United States', 'China', '\xa0Netherlands / United Kingdom',
       'china', '\xa0Saudi Arabia', '\xa0United Kingdom', '\xa0Germany',
       '\xa0Japan', 'United States', 'USA', '\xa0South Korea',
       '\xa0Switzerland', '\xa0France', '\xa0China', '\xa0Singapore',
       '\xa0Taiwan', '\xa0Netherlands', 'United     State', nan, 'usa',
       '\xa0Russia', 'Empty'], dtype=object)

In [189]:
df.loc[4]

Name         China National Petroleum
Industry                  Oil and gas
Revenue                     $392,976
Profit                         $2,270
Employees                   1,382,401
Country                         china
Date                        2/19/2000
Name: 4, dtype: object

In [196]:
#df["date"].dt.weekday_name

In [197]:
df

,Name,Industry,Revenue,Profit,Employees,Country,Date
Rank,,,,,,,
1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
2,Sinopec,Oil and gas,"$414,649","$5,845",619.151,China,3/31/2017
3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
4,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",China,2/19/2000
5,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
7,BP,Oil and gas,"$303,738","$9,383",5,United Kingdom,4/19/2019
8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
14,UnitedHealth,Healthcare,"$226,247","$11,986",300,USA,3/16/2018
15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
21,NaN,Construction,"$181,524","$3,159",302.827,China,3/23/2018
22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
23,Foxconn,NaN,"$175,617","$4,281",667.68,Taiwan,3/25/2018
24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
30,Ford,Automotive,"$160,338","$3,677",199,United State,4/1/2018
31,China Construction Bank,Financials,"$151,110","$38,498",366.996,NaN,4/2/2018
32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,usa,4/9/2018
39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
47,Kroger,NaN,"$121,162","$3,110",453,United States,4/18/2018
48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018