In [1]:
import pandas as pd

In [11]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Titanic 2nd ver.csv")

In [12]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,NaN,S
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,NaN,S
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000,C123,S
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
892,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q
893,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q
894,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q
895,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q
896,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q

In [13]:
age=df["Age"].dropna()

In [15]:
age.unique()

array([22.  , 38.  , 26.  , 35.  , 54.  ,  2.  , 27.  , 14.  ,  4.  ,
       58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,  8.  ,
       19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  , 49.  ,
       29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  , 16.  ,
       25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  , 71.  ,
       37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 , 51.  ,
       55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  , 45.5 ,
       20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  , 60.  ,
       10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  , 70.  ,
       24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [16]:
bins=5

In [17]:
x=pd.cut(age,bins=5)

In [18]:
x

0      (16.336, 32.252]
1      (32.252, 48.168]
2      (16.336, 32.252]
3      (32.252, 48.168]
4      (32.252, 48.168]
             ...
892    (16.336, 32.252]
893    (16.336, 32.252]
894    (16.336, 32.252]
895    (16.336, 32.252]
896    (16.336, 32.252]
Name: Age, Length: 720, dtype: category
Categories (5, interval[float64]): [(0.34, 16.336] < (16.336, 32.252] < (32.252, 48.168] < (48.168, 64.084] < (64.084, 80.0]]

In [19]:
x.unique()

[(16.336, 32.252], (32.252, 48.168], (48.168, 64.084], (0.34, 16.336], (64.084, 80.0]]
Categories (5, interval[float64]): [(0.34, 16.336] < (16.336, 32.252] < (32.252, 48.168] < (48.168, 64.084] < (64.084, 80.0]]

In [22]:
pd.cut(age,bins=10)

0      (16.336, 24.294]
1       (32.252, 40.21]
2      (24.294, 32.252]
3       (32.252, 40.21]
4       (32.252, 40.21]
             ...
892    (24.294, 32.252]
893    (24.294, 32.252]
894    (24.294, 32.252]
895    (24.294, 32.252]
896    (24.294, 32.252]
Name: Age, Length: 720, dtype: category
Categories (10, interval[float64]): [(0.34, 8.378] < (8.378, 16.336] < (16.336, 24.294] < (24.294, 32.252] ... (48.168, 56.126] < (56.126, 64.084] < (64.084, 72.042] < (72.042, 80.0]]

In [26]:
pd.cut(age,bins=3,labels=[1,2,3])

0      1
1      2
2      1
3      2
4      2
      ..
892    2
893    2
894    2
895    2
896    2
Name: Age, Length: 720, dtype: category
Categories (3, int64): [1 < 2 < 3]

In [31]:
t=pd.cut(age,bins=[0,15,20,40,55,100])

In [30]:
age[0]

22.0

In [33]:
df["newage"]=t

In [34]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,newage
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,NaN,S,"(20, 40]"
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C,"(20, 40]"
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,NaN,S,"(20, 40]"
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000,C123,S,"(20, 40]"
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500,NaN,S,"(20, 40]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
892,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q,"(20, 40]"
893,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q,"(20, 40]"
894,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q,"(20, 40]"
895,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q,"(20, 40]"
896,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q,"(20, 40]"

In [35]:
df["newage"].unique()

[(20.0, 40.0], NaN, (40.0, 55.0], (0.0, 15.0], (55.0, 100.0], (15.0, 20.0]]
Categories (5, interval[int64]): [(0, 15] < (15, 20] < (20, 40] < (40, 55] < (55, 100]]

In [36]:
df["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
892    32.0
893    32.0
894    32.0
895    32.0
896    32.0
Name: Age, Length: 897, dtype: float64

In [37]:
df.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
892    32.0
893    32.0
894    32.0
895    32.0
896    32.0
Name: Age, Length: 897, dtype: float64

In [38]:
#d=Q3-Q1
#   Q1-3*d          Q1-1.5*d                      Q3+1.5*d          Q3+3*d

In [41]:
umur=df["Age"].dropna()

In [44]:
d=umur.quantile(0.75)-umur.quantile(0.25)

In [50]:
df[(df["Age"]>umur.quantile(0.75)+1.5*d) | (df["Age"]<umur.quantile(0.25)-1.5*d)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,newage
33,34.0,0.0,2.0,"Wheadon, Mr. Edward H",male,66.0,0.0,0,C.A. 24579,10.5000,NaN,S,"(55, 100]"
96,97.0,0.0,1.0,"Goldschmidt, Mr. George B",male,71.0,0.0,0,PC 17754,34.6542,A5,C,"(55, 100]"
116,117.0,0.0,3.0,"Connors, Mr. Patrick",male,70.5,0.0,0,370369,7.7500,NaN,Q,"(55, 100]"
493,494.0,0.0,1.0,"Artagaveytia, Mr. Ramon",male,71.0,0.0,0,PC 17609,49.5042,NaN,C,"(55, 100]"
630,631.0,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0.0,0,27042,30.0000,A23,S,"(55, 100]"
672,673.0,0.0,2.0,"Mitchell, Mr. Henry Michael",male,70.0,0.0,0,C.A. 24580,10.5000,NaN,S,"(55, 100]"
745,746.0,0.0,1.0,"Crosby, Capt. Edward Gifford",male,70.0,1.0,1,WE/P 5735,71.0000,B22,S,"(55, 100]"
851,852.0,0.0,3.0,"Svensson, Mr. Johan",male,74.0,0.0,0,347060,7.7750,NaN,S,"(55, 100]"

In [52]:
#Regular Expression

In [53]:
import re

In [54]:
a="Anton"
b="Arvin"
c="Axel"

In [55]:
re.match("^A....",a)

In [57]:
print(re.match("^A....",c))

None

In [58]:
re.match("^A....",b)

In [60]:
print(re.match("^a....",b))

None

In [62]:
re.match("Arvin",b)

In [63]:
re.match("Arvin",c)

In [67]:
re.findall("^A....",b)

['Arvin']

In [77]:
re.findall("...l$","Anton Arvin Axel")

['Axel']

In [78]:
#Set

In [82]:
re.findall("[bcaiA]","Arvin")

['A', 'i']

In [83]:
re.findall("[a-l]","Arvin")

['i']

In [84]:
re.findall("[A-F]","Arvin")

['A']

In [86]:
re.findall("[A-F]","ArVIn")

['A']

In [90]:
#re.findall("[b-A]","ArVIban")

In [94]:
re.findall("[0-4]","ArVIn01@gmail12.com")

['0', '1', '1', '2']

In [103]:
re.findall("[0-4][2-8]","1123485")

['12', '34']

In [101]:
re.findall("[4][8]","11123485")

['48']

In [105]:
re.findall("[2][3][1][0][1][9][1][0][0][0-9][0-9]","23101910022")

['23101910022']

In [107]:
re.findall("[2][3][1][0][1][9][1][0][0][0-9][0-9]","23011910022")

[]

In [108]:
re.findall("[A][r]","Arvin")

['Ar']

In [110]:
re.findall("[A-C][r-z]","Arvin")

['Ar']

In [111]:
re.findall("[A-C][r-z]","Anton")

[]

In [112]:
re.findall("[^A][n$]","Anton")

['on']

In [113]:
re.findall("[^A][n$]","Arvin")

['in']

In [197]:
re.findall("[^A][on$]","Anton Arvin")

['to', 'in']

In [115]:
re.findall("[^A][n$]","Ann Arvin")

['nn', 'in']

In [116]:
re.findall("[^A][n$]","nAnn Arvin")

['nn', 'in']

In [117]:
re.findall("[^A]","Arvin")

['r', 'v', 'i', 'n']

In [119]:
re.findall("[^A]","ArvinaAAA")

['r', 'v', 'i', 'n', 'a']

In [120]:
re.findall("[^A][n]","nAnn Arvin")

['nn', 'in']

In [121]:
re.findall("[-][h]","h^alo-ha^lo-hel^lo-hi^hi") #^ -

['-h', '-h', '-h']

In [125]:
re.findall("[\^][h]","h^alo-ha^lo-hel^lo-hi^hi") #^ -

['^h']

In [130]:
re.findall("[\\][o]","h^a\l\o-ha^l\o-h\el^l\o-h\i^h\i") #^-

['o', 'o', 'o']

In [139]:
#re.findall(r'a\o',r"h^a\l\o-ha^l\o-h\el^l\o-h\i^h\i")

In [142]:
re.findall("[0-9]2","12342_109231a")

['12', '42', '92']

In [144]:
re.findall("Arvin","3213213Arvin1232421")

['Arvin']

In [145]:
re.findall("[0-9]A","3213213Arvin123A242A1")

['3A', '3A', '2A']

In [149]:
re.findall("A[r-x]..n","Arvin Axeln Anton")

['Arvin', 'Axeln']

In [151]:
re.findall("A...n","Arvin,nnAxeln,Anton")

['Arvin', 'Axeln', 'Anton']

In [153]:
re.findall("^A...n$","Arvin,nnAxeln,Anton")

[]

In [154]:
#Metacharacters

In [162]:
re.findall("....","Andydidui")

['Andy', 'didu']

In [163]:
re.findall("^a","anton") #^ $

['a']

In [164]:
re.findall("^an","anton") #^ $

['an']

In [165]:
re.findall("^an","andy") #^ $

['an']

In [166]:
re.findall("^an","antara") #^ $

['an']

In [168]:
re.findall("^an","amyn") #^ $

[]

In [170]:
re.findall("^an","amy andy") #^ $

[]

In [171]:
re.findall("n$","amy andy") #^ $

[]

In [173]:
re.findall("yn$","amy andyn") #^ $

['yn']

In [174]:
re.findall("^an$","arvin") #^ $

[]

In [175]:
re.findall("^an$","an") #^ $

['an']

In [176]:
re.findall("^a...n$","arvin") #^ $

['arvin']

In [177]:
re.findall("^an$","arvin") #^ $

[]

In [180]:
re.findall("^ar|in$","arvin") #^ $

['ar', 'in']

In [182]:
re.findall("^a|in$","arvin") #^ $

['a', 'in']

In [183]:
#Quantifier

In [185]:
re.match("a*","arvin") #*

In [186]:
re.match("a*","aaaaarvin")

In [187]:
re.match("a*","vin")

In [188]:
re.match("a*merica","america")

In [189]:
re.match("a*merica","aaaaaaaaaaaaaaaaaamerica")

In [190]:
re.match("a*merica","merica")

In [192]:
re.findall("a$","merica")

['a']

In [194]:
re.findall("t$","mericat")

['t']

In [198]:
re.findall("[on$]","Anton")

['n', 'o', 'n']

In [205]:
print(re.match("[on$]","n"))

<re.Match object; span=(0, 1), match='n'>

In [202]:
re.findall("[onabc]","Anton")

['n', 'o', 'n']

In [204]:
print(re.findall("[on$]","Anto$n"))

['n', 'o', '$', 'n']